<html>
    <head>
        <%- include( 'headerCommon' ); %>
    </head>
    <body>
        <%- include( 'headerPages' ); %>

        <p>Welcome to <%= display.title %></p>

        <p>
            <!-- NOTESLIST -->
            <% if (noteslist.length > 0) { %>
                <ul><%
                    for (let note of noteslist) {
                        %><li><a href='/notes/view?key=<%= note.key %>'><%= note.title %></a>
                        </li><%
                    }
                    %></ul>
            <% } %>
        </p>

        <!-- SHEETS -->
        <p>Here is a link to the sheets page:
            <a href='/sheets'>SHEETS</a>
        </p>

    <%- include( 'footerCommon' ); %>
