<!DOCTYPE html>
<html>
<head>
    <%- include( 'headerNotes' ); %>
</head>
<body>
    <div>

    <%- include( 'headerPages' ); %>
    <form method='POST' action='/notes/destroy/confirm'>
        <input type='hidden' name='notekey' value='<%=
            note ? display.notekey : "" %>'>
        <p>Delete <%= note.title %>?</p>
        <br>
        <input type='submit' value='DELETE'/>
        <a href='/notes/view?key=<%= display.notekey %>'>Cancel</a>
    </form>

    <%- include( 'footerCommon' ); %>
</body>
</html>
