<!DOCTYPE html>
<html>
<head>
    <%- include( 'headerNotes' ); %>
</head>
<body>
    <div>

    <%- include( 'notePageTop' ); %>
    <h3><%= note ? note.title : "" %></h3>
    <p><%= note ? note.body : "" %></p>
    <% if (display.notekey) { %>
        <hr>
        <p><a href="/notes/destroy?key=<%= display.notekey %>">Delete</a> |
            <a href="/notes/edit?key=<%= display.notekey %>"></i>Edit</a>
        </p>
    <% } %>

    </div>

    <%- include( 'footerCommon' ); %>
</body>
</html>
